body {
  margin: 0;
  font-family: "Montserrat", sans-serif;

  font-size: 15px;
  color: 333;
  line-height: 1.6;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/*container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* intro */
.intro {
  background: url("../css/intro.jpg") center no-repeat;
  background-size: cover;
  width: 50%;
  max-width: 700px;
  height: auto;
  min-height: 965px;
  margin: 0 auto;
}
.intro_inner {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  position: absolute;
  top: 120px;
  left: 950px;
}
/* main */
.myself {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 300px;
  right: 800px;
  font-size: 9px;
}
.about_me {
  position: absolute;
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  line-height: 1, 5;
  right: 650px;
  top: 350px;
}
.education {
  margin: 0 auto;
  position: absolute;
  top: 500px;
  right: 630px;
  font-size: 13px;
  line-height: 1, 5;
}
.lang {
  margin: 0 auto;
  position: absolute;
  bottom: 175px;
  left: 700px;
  color: white;
  font-size: 17px;
  font-family: "Roboto Condensed", sans-serif;
}
.imgsize {
  margin: 0 auto;
  position: absolute;
  display: block;
  bottom: 500px;
  right: 1px;
  width: 250px;
  height: 250px;
}
